a:link {
  color: #777;
  text-decoration: underline;
}
a:visited {
  color: #666;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
  color: #BA122B;
}
a:active {
  color: #BA122B;
  text-decoration: none;
}
a img {
  border: none;
}
html, body {
  margin: 0;
}
body {
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
  background:#DDD url(../images/styles/cloudy/bg_top.png) repeat-x scroll left top;
}
div#header {
  margin: 0px auto;
  width: 80%;
}
div#header h1 {
  margin:  0;
  float: left;
  }
div#header #session {
  padding: 5px;
  float: right;
  color: #aaa;
  font-size: 0.9em;
  }
div#header h1 a:link, div#header h1 a:visited  {
  color: #BA122B;
  text-decoration: none;
  }
div#header .subtitle {
  color: #aaa;
  font-size: 0.4em;
  }
div#container {
  width: 85%;
  margin: 20px auto;
  clear: both;
}
div#dynamic {
  background-color: #FFF;
  /*margin: 20px auto;*/
  padding: 20px 40px;
  border: 5px solid #CCC;
  /*border-top-width: 0px;*/
  -moz-border-radius:0px 12px 12px 12px;/*Mozzilla Firefox*/
  border-radius: 0px 12px 12px 12px;/*Google chrome*/
}
div#footer p {
  color: #777;
  font-size: 0.8em;
  text-align: center;
}
/* MENU */
#menu {
  width: 100%;
  /*border-bottom: 5px solid #CCC;*/
  margin: 0 auto;
  position: relative;
  top: 5px;
  left: 0px;
}
#menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  /*margin-top: -5px;*/
  /*margin-left: 5px;*/
}
#menu ul li {
  float: left;
  border: 5px solid #CCC;
  -moz-border-radius:12px 12px 0px 0px;/*Mozzilla Firefox*/
  border-radius: 12px 12px 0px 0px;/*Google chrome*/
  background-color: #CCC;
  margin-right: 5px;
  
}
#menu ul li.active {
  border-bottom: 5px solid #CCC;
  background-color: #FFF;
  font-weight: bold;
  border-bottom: 5px solid #FFF;
}
#menu ul li a:link, #menu ul li a:visited, #menu ul li a:hover, #menu ul li a:active {
  text-decoration: none;
}
#menu ul li a {
  font-size: 15px;
  display: block;
  padding: 8px 15px;
}

/* FORM */
input, select, textarea {
  background:#f5f5f5 url(../images/styles/cloudy/input_background_bn.png) repeat-x scroll 0 0;
  color:#BA122B;
  border: 1px solid #bbb;
}
.focused {
  border: 1px solid #BA122B;
}

/* BUTTON */
.button {
  border: none;
  cursor:pointer;
  color: #BA122B;
}
.button.medium {
  height:30px;width:120px;
}
.button.large {
  height:40px;width:150px;
}
.button.submit {
  background: transparent url(../images/styles/cloudy/bg_but_gray.png) no-repeat;
  font-weight:normal;
}
.button.submit:hover {
  background-position: 0px -40px;
}

/* TEXT */
h1 {color: #444;}
h2 {color: #555;}
h3 {color: #666;}

/* TABLES */
/*--- USER ---*/
table.user {
  width:100%;
  margin: 3em auto;
  margin-bottom: 3em;
}
table.user th {
  /*background-color: #444e5d;*/
  background-color: inherit;
  color:#666;
  padding: 0.2em 0.4em;
}
table.user th.main {
  font-weight:bold;
  text-align:center;
}
table.user tr {
  line-height: 1.2em;
  height: 2.5em;
}
table.user tr.odd {
  background-color:#f3f3f3;
}
table.user tr.even {
  background-color:#fff;
}
table.user tr:hover {
  background-color:#ffc;
}
table.user tr.selected {
  background-color:#ffb;
}
table.user thead tr:hover {
  background-color: inherit;
}
table.user td {
  padding: 2px;
  color:#555;
}
table.user td.main {
  color: #666;
  font-weight:bold;
  text-align:center;
}

/* MESSAGES */
.message {
  padding: 15px;
  padding-left: 70px;
  margin: 10px 0;
  }
  .message.notice {
    background: #E4F6DE url(../images/styles/cloudy/msg_notice.gif) no-repeat 15px 50%;
    border-color: #8FDC79;
    color: #5FAC49;
  }
  .message.error {
    background: #FFF url(../images/styles/cloudy/msg_error.gif) no-repeat 15px 50%;
    border: 1px solid #C00;
    color: #C00;
  }
  .message.alert {
    background: #FFC url(../images/styles/cloudy/msg_error.gif) no-repeat 15px 50%;
    border: 1px solid #FF4;
    color: #AA0;
  }

/* ERRORS */
.fieldWithErrors {
  display: inline;
}
#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}
#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}
#errorExplanation ul {
  margin: 2px 24px;
}
#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

/* PAGINATION */
div.pagination {
  background: #eee;
  border: 1px solid #ddd;
  text-align: center;
  }
  .pagination .page_info {
    color: white;
  }
  .pagination a, .pagination span {
    padding: .0em .3em;
  }
  .pagination span.disabled {
    color: #AAA;
  }
  .pagination span.current {
    font-weight: bold;
    background: transparent url(../images/styles/cloudy/ico_circle.gif) no-repeat 50% 50%;
  }
  .pagination a {
    text-decoration: none;
    color: black;
  }
  .pagination a:hover, .pagination a:focus {
    text-decoration: underline;
  }
/* BLOG */
div#calendar .caption {
  float: left;
  padding: 1em 3em;
}
div#calendar .go {
  float: left;
}
.go.back {
    background: transparent url(../images/styles/cloudy/ico_back.png) no-repeat 0 0;
    width: 52px;
    height: 52px;
}
.go.next {
    background: transparent url(../images/styles/cloudy/ico_next.png) no-repeat 0 0;
    width: 52px;
    height: 52px;
}
.go:hover {
    background-position: 0px -52px;
}

div.home.blog {
  padding: 2em;
}
  div.home.blog > div.icon {
    float: left;
    background: transparent url(../images/styles/cloudy/ico_activities.png) no-repeat 50% 50%;
    width: 200px;
    height: 163px;
  }
  div.home.blog > div.posts {
    /*float: left;*/
    margin-left: 250px;
  }
div.blog {
  padding: 1em;
}
  div.blog > p.title {
    font-weight: bold;
    margin-bottom: 0;
  }
  div.blog > p.subtitle {
    margin: 0;
  }
/*div.home.blog.activity {
  margin-left: 250px;
}*/
div.blog.activity {
  border-bottom: 1px dashed #ccc;
}
  div.blog.activity > p.title {
    color: #BA122B;
  }
  div.blog.activity > p.subtitle {
    color: #888;
    font-size: 0.9em;
  }
div.blog.task {
  border-bottom: 2px dashed #ddd;
}
  div.blog.task > p.title {
    color: #BA122B;
    font-size: 1.3em;
  }
  div.blog.task > p.subtitle {
    color: #777;
    font-size: 1.0em;
  }
div.blog.project {
  border-bottom: 5px groove #ddd;
}
  div.blog.project > p.title {
    color: #BA122B;
    font-size: 1.7em;
  }
  div.blog.project > p.subtitle {
    color: #888;
    font-size: 1.2em;
  }

/* OTHER */
.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}
.center {
  text-align: center;
  margin: 0 auto;
}