<%  title "Admin" %>

<ul>
  <li><%= link_to t('models.users'), admin_users_path %></li>
  <li><%= link_to t('models.projects'), admin_projects_path %></li>
  <li><%= link_to t('models.tasks'), admin_tasks_path %></li>
  <li><%= link_to t('models.activities'), admin_activities_path %></li>
</ul>
